.list-item{
  width: 100%;
  align-items: center;
  border-style: solid;
  border-bottom: 1px;
  border-color: #333;
}

.list-item h3, p, img{
  margin-left: 1em;
}

.list-item img{
  width: 50%;
  max-height: 200px;
  object-fit: cover;
  margin-top: 1em;
}

.list-item p{
  margin-bottom: -1.5em;
}

.overlay{
  background-color: rgba(0,0,0,0);
  height: 100%;
}

.overlay:hover{
  background-color: rgba(0,0,0,0.1);
}
