.wrapper{
  display: grid;
  grid-template-columns: 65% 35%;
  grid-template-rows: 10% 90%;
  font-family: 'Slabo 27px', serif;
  height: 100vh;
  background-image: url('../../images/background.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}