.bot-window-small{
    width: 10vh;
    height: 10vh;
    background-color: blue;
    position: absolute;
    bottom: 5%;
    left: 10%;
    border-radius: 100%;
  }
  
  .bot-window-small:active{
    width: 20vw;
    height: 50vh;
    background-color: blue;
    position: absolute;
    bottom: 5%;
    left: 10%;
    border-radius: 6px;
    transition: width 0.25s, height 0.25s;
  }
  
  .bot-window-small:hover{
    background: linear-gradient(135deg, #111, #222, #111);
  }