.right-container{
  display: grid;
  grid-template-columns: 1fr;
  color: #333;
  overflow: scroll;
}

.right-container-row{
  display: grid;
  grid-template-columns: 10% 30% 30% 30%;
}

#photography{
  background: rgba(5, 217, 77, 0.5);
}

#web{
  background: rgba(248, 6, 6, 0.5);
}

#games{
  background: rgba(34, 138, 225, 0.5);
}

#about{
  background: rgba(240, 240, 18, 0.5);
}
